<div id="main">
    <div id="left">
        <left user="user" chat="env.chat" style="height:100%"></left>
    </div>
    <div id="center" ng-class="{'full-center':env.show_add_info==false}">
        <div ng-show="env.chat">
            <div class="chat-info">

                <img ng-click="openInfoBlock(env.chat.getUser(user.id))" ng-src="{{env.chat.getChatAvatar(user.id)}}"
                     class="img-circle link" style="margin-right:30px;float:left">

                <div style="vertical-align: top;width:80%;float:left;    min-height: 52px;overflow: hidden;">
                    <a ng-click="openInfoBlock(env.chat.getUser(user.id))" style="font-size: 18px" class="link">{{env.chat.getChatName(user.id)}}</a>

                    <p style="font-size: 12px">{{env.chat.status}}</p>
                </div>


                <ul class="nav navbar-nav navbar-right" style="padding-right:20px;height:50px">

                    <li ng-show="user.can_upload_files=='1'" style="padding: 15px;">
                        <upload ng-model="env.upload.image" hide-result="true" number-of-files="1">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false" style="height:40px;display: inline">
                                <span class=" glyphicon glyphicon-open" aria-hidden="true"></span></a>
                        </upload>

                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" style="height:40px">

                            <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>


                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="link" ng-click="openInfoBlock()">{{env.chat.is_group==1 ? 'Информация о группе' : 'Информация о контакте'}}</a></li>
                            <li><a ng-show="env.chat.IsEnabledSound(user.id)" ng-click="disableSound(env.chat, user.id)"
                                   class="link">Без звука</a></li>
                            <li><a ng-show="env.chat.IsDisabledSound(user.id)" ng-click="enableSound(env.chat, user.id)"
                                   class="link">Вкл. звук</a></li>
                            <li><a ng-show="user.can_edit_myself=='1'" ng-click="clearChat(env.chat)" class="link">Очистить
                                чат</a></li>
                            <li><a ng-show="user.can_edit_myself=='1'" ng-click="deleteChat(env.chat)" class="link">Удалить
                                чат</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="messages" scroll-glue>
                <post ng-repeat="post in env.chat.posts |orderBy:'-created_at':true" post="post"
                      is-select-post="selected_post" user="user"></post>
            </div>

            <div class="input">
                <textarea ng-disabled="!env.chat.isAdmin(user.id) && env.chat.is_group==1"
                          placeholder="Введите сообщение" class="form-control" ng-model="env.message"></textarea>
            </div>

            <div id="add-image" ng-show="env.imageDialog==true" >
                <div class="header">
                    <span ng-click="closeImageDialog()" class="glyphicon glyphicon-remove" style="cursor: pointer;margin-right:30px" aria-hidden="true"></span>
                    Просмотр
                </div>
                <div class="image-preview">
                    <img   ng-src="data:{{env.upload.image.filetype}};base64,{{env.upload.image.base64}}" alt="">
                </div>

                <div  class="control">
                    <div class="input">
                        <input type="text"  placeholder="Добавить подпись" ng-model="env.upload.message">
                    </div>


                    <div  class="button">
                            <span ng-click="addImagePost(env.upload)" class="glyphicon glyphicon-ok"  aria-hidden="true"></span>
                    </div>

                </div>
            </div>

        </div>
        <div ng-show="!env.chat">
            <h2 style="text-align: center">Добро пожаловать к нам в чат</h2>
            <div style="text-align: center"><img src="http://s0.tchkcdn.com/fun/g2/s/1/1/0/5/5105/49333_10cb.jpeg"
                                                 alt=""></div>

        </div>
    </div>
    <div id="right" ng-show="env.show_add_info==true">
        <div style="background-color: #eee;padding:3px;height:55px;">


            <ul class="nav navbar-nav ">
                <li style="padding:10px">

                    <a class="link" ng-click="closeProfile()" style="display: inline;float:left"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    <div style="vertical-align: top;float:left">
                        {{env.chat.is_group==0 ? 'Информация о контакте' : 'Информация о группе'}}
                        <p style="font-size: 12px">{{env.chat.is_group==0 ? env.chat.status : 'Создана '+
                            env.chat.created_at }} </p>
                    </div>

                </li>

            </ul>
        </div>
        <div class="right-contact-info"  ng-show="env.chat.is_group==0">
            <img style="width: 150px" ng-src="{{env.add_info.AvatarSrc}}" alt="">
            <div><strong>Login:</strong> {{env.add_info.login}}</div>
        </div>

        <div class="right-group-info"  ng-show="env.chat.is_group==1">
            <form>
                <div class="form-group" style="text-align: center">

                    <upload ng-model="model.avatar" ng-change="changeChatAvatar">
                        <img src="/image/default.jpg" class="img-circle-upload"
                             style="margin-left:auto;margin-right:auto">
                    </upload>

                </div>

                <div class="form-group">

                    <div class="panel panel-default" style="border: 1px solid #f7f7f7">
                        <div class="panel-body"
                             style="text-align: left; border-bottom: 1px solid #f7f7f7;color:#7c8b92">Тема
                        </div>
                        <div class="panel-body">
                            <div class="input-group">

                            <input type="text" class="form-control" placeholder="Тема" ng-model="model.name" ng-change="changeChatName(model.name)">
                                <span class="input-group-btn">
        <button
                ng-click="changeChatName(model.name)"
                ng-disabled="model.name==''" class="btn btn-default" type="button"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;</button>
      </span>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default" style="border: 1px solid #f7f7f7">
                    <div class="panel-body" style="text-align: left; border-bottom: 1px solid #f7f7f7;color:#7c8b92">
                        Участники
                    </div>
                    <div class="panel-body" style="    height: 30%;
    overflow: auto">
                        <div style="margin-bottom: 20px">
                            <div class="input-group">
                            <select

                                    ng-model="model.selected_member" class="form-control"
                                    ng-options="contact.name  for contact in model.members track by contact.id">
                            <option value="">Добавить участника</option>
                        </select>
                                <span class="input-group-btn">
        <button
                ng-click="addMember(model.selected_member)"
                ng-disabled="!model.selected_member" class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;</button>
      </span>

                            </div>
                        </div>

                        <div class="list-group">

                            <div class="list-group-item " style="text-align: left;" ng-repeat="member in env.chat.members track by $index">
                                <img ng-src="{{member.AvatarSrc}}" class="img-circle" width="50" >
                                <span ng-show="env.chat.isAdmin(member.id)" class="badge" style="position: absolute;right: 10%;top: 35%;">admin</span>
                                <span ng-show="!env.chat.isAdmin(member.id) && env.chat.isAdmin(user.id)" class="glyphicon glyphicon-remove" aria-hidden="true" style="float: right;cursor: pointer;position: absolute;right: 10%;top: 35%;" ng-click="removeMember(member)"></span>
                                {{member.name}}
                            </div>

                        </div>
                    </div>
                </div>


                <button ng-show="env.chat.isAdmin(user.id)" style="width: 100%" type="button" class="btn btn-danger" ng-click="deleteChat(env.chat)">
                    Удалить чат
                </button>


            </form>
        </div>
    </div>
</div>
