<div>

    <div class="panel panel-default">
        <div class="panel-heading">Навигация</div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li ui-sref-active="active"><a ui-sref="total-stats">Сводная статистика</a></li>
                <li ui-sref-active="active" ng-show="env.user.hasAccess('editPayments')"><a
                        ui-sref="payments-add">Добавить проводку</a></li>
                <li ui-sref-active="active" ng-show="env.user.hasAccess('payments')"><a ui-sref="payments">Все
                    проводки</a></li>
                <li ui-sref-active="active" ng-show="env.user.hasAccess('agent')"><a ui-sref="agents">Контрагенты</a>
                </li>
                <li ui-sref-active="active" ng-show="env.user.hasAccess('company')"><a ui-sref="company">Компании</a>
                </li>
                <li ui-sref-active="active" ng-show="env.user.hasAccess('articles')"><a ui-sref="articles">Статьи
                    проводок</a></li>
                <li ui-sref-active="active" ng-show="env.user.hasAccess('log')"><a ui-sref="logs">Лог событий</a></li>
            </ul>
        </div>
    </div>


    <div class="panel panel-default" ng-show="env.user.hasAccess('payments')">
        <div class="panel-heading">Отчёт</div>
        <div class="panel-body">
            <div class="form-group">
                <label>Дата начало:</label>

                <div class="dropdown">
                    <a class="dropdown-toggle" id="begin_date" role="button"
                       data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text" class="form-control" disabled
                                   value="{{model.begin_date|date:'dd-MM-yyyy'}}">
                                                                <span class="input-group-addon"><i
                                                                        class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="model.begin_date"
                                        data-datetimepicker-config="{minView:'day', dropdownSelector: '#begin_date' }"/>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label>Дата конец:</label>

                <div class="dropdown">
                    <a class="dropdown-toggle" id="end_date" role="button"
                       data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text" class="form-control" disabled
                                   value="{{model.end_date|date:'dd-MM-yyyy'}}">
                                                                <span class="input-group-addon"><i
                                                                        class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="model.end_date"
                                        data-datetimepicker-config="{minView:'day', dropdownSelector: '#end_date' }"/>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <label>Поставщик:</label>

                <select class="form-control"
                        ng-options="agent.id as agent.name for agent in env.agents"
                        ng-model="model.supplier_agent_id">
                    <option value="">Все поставщики</option>

                </select>
            </div>
            <div class="form-group">
                <select class="form-control"
                        ng-options="company.id as company.name for company in env.supplierCompanies"
                        ng-model="model.supplier_company_id">
                    <option value="">Все компании</option>

                </select>
            </div>
            <div class="form-group">
                <select class="form-control" nd-model="model.supplier_invoice">
                    <option selected="" value="Счёт фактура">Счёт фактура</option>
                    <option value="Не требуется">Не требуется</option>
                    <option value="Требуется">Требуется</option>
                    <option value="Получена">Получена</option>
                    <option value="Не получена">Не получена</option>
                </select>
            </div>

            <div class="form-group">
                <label>Агент:</label>
                <select class="form-control"
                        ng-options="agent.id as agent.name for agent in env.agents"
                        ng-model="model.agent_id"
                >
                    <option value="">Все агенты</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" ng-model="model.profit">
                    <option value="">Прибыль не важно</option>
                    <option value="От оператора">От оператора</option>
                    <option value="Общая с оператором">Общая с оператором</option>
                    <option value="Выплачена">Выплачена</option>
                    <option value="Не выплачена">Не выплачена</option>
                </select>
            </div>

            <div class="form-group">
                <label>Заказчик:</label>
                <select class="form-control"
                        ng-options="agent.id as agent.name for agent in env.agents"
                        ng-model="model.client_agent_id"
                >
                    <option value="">Все заказчики</option>
                </select>
            </div>
            <div class="form-group">

                <select class="form-control"
                        ng-options="company.id as company.name for company in env.operatorCompanies"
                        ng-model="model.client_company_id">
                    <option  value="">Все компании</option>
                </select>
            </div>
            <div class="form-group">

                <select class="form-control" nd-model="model.client_invoice">
                    <option  value="">Счёт фактура</option>
                    <option value="Не требуется">Не требуется</option>
                    <option value="Требуется">Требуется</option>
                    <option value="Получена">Получена</option>
                    <option value="Не получена">Не получена</option>
                </select>
            </div>

            <div class="form-group">
                <label>Оператор:</label>
                <select class="form-control" ng-model="model.operator_profit">
                    <option value="">Прибыль не важно</option>
                    <option value="У поставщика">У поставщика</option>
                    <option value="У заказчика">У заказчика</option>
                    <option value="Получена">Получена</option>
                    <option value="Не получена">Не получена</option>
                </select>
            </div>

            <div class="form-group">
                <label>Статья проводок:</label>

                <select class="form-control"
                        ng-options="article.id as article.value for article in env.articles"
                        ng-model="model.article_id">
                    <option value="">Все статьи</option>

                </select>
            </div>


            <div class="form-group">
                <button type="button" class="btn btn-success" ui-sref="payments-search(model)">сформировать</button>
            </div>
        </div>
    </div>
</div>