<div>

    <div class="left-header" ng-show="dialog=='contacts'" >

        <a ng-click="openProfile()"><img ng-src="{{user.AvatarSrc}}" class="img-circle link"></a>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a ng-click="openContactList()" class="link"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false" style="height:40px">
                    <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-show="user.can_mass_messages=='1'"><a ng-click="openGroupDialog()" class="link">Новая группа</a></li>
                    <li><a ng-click="openProfile()" class="link">Профиль</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="link" ng-click="logout()">Выход</a></li>
                </ul>
            </li>
        </ul>

    </div>




    <div
            style="height:91%"
            ng-controller="profileController"
            ng-show="dialog=='profile'"
            ng-include="'apps/chatApp/directives/leftSide/profile/profile.html'">
    </div>

    <div
            style="height:91%"
            ng-controller="contactsController"
            ng-show="dialog=='contacts'"
            ng-include="'apps/chatApp/directives/leftSide/contacts/contacts.html'">

    </div>

    <div
            style="height:91%"
            ng-controller="groupController"
            ng-show="dialog=='group'"
            ng-include="'apps/chatApp/directives/leftSide/group/group.html'">

    </div>
</div>