body, html{
	background-color: #D4DBDA;
	width: 100%;
	height: 97%;
	margin:0px;
	padding:0px

}

#main {
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	background-color: #ffffff;border:1px solid darkgrey;
	width: 80%;
	height: 100%;
	min-height: 600px;
	position: relative;
}

#left{
	border-right: 1px solid darkgrey;padding:0;
	height: 100%;
	min-height: 600px;
	width:25%;
	float:left
}
.left-header{
	padding:3px;background-color: #eee; min-height: 55px;
	height:5%
}

.left-search{
	background: #fbfbfb;
}
.left-contacts{
	overflow: auto;
	height: inherit;
}



#center{
	min-height: 100%;
	width:55%;
	float:left;
	overflow: hidden;
}

.full-center{
	width:75%!important;
}
#right{
	border-left: 1px solid darkgrey;padding:0;
	height: 100%;
	min-height: 600px;
	width:20%;
	float:left
}

.right-group-info{
	height: 93%;

	text-align: center;padding: 20px;
	background-color: #f7f7f7
}

.right-contact-info{
	height: 93%;
	text-align: center;
	padding: 20px;
}
.chat-info{
	background-color: #eee;padding:3px;height:55px
}
#add-image{
	position: absolute;
	top: 0;
	width: 75%;
	z-index: 33333;
	background-color: lightgray;
	height:100%
}

#add-image div.header{
	padding: 20px;
	background-color: #00bfa5;
	color: #ffffff;
	height: 55px;
	font-weight: bold;
	font-size: 19px;
}
#add-image div.image-preview{
	text-align: center;
	padding:20px;
	height:70%;position: relative;
}

#add-image div.image-preview img{
	max-width:350px;
	max-height:350px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}
#add-image input.input-desc{

}

#add-image div.control{
	padding: 20px;
}

div.control .input{
	text-align: center
}
div.control .input input{
	width: 50%;
	font-size: 16px;
	padding:5px;
	border:none;
	border-bottom: 1px solid grey;
	background-color:transparent;
}

div.input input:focus{
	outline: none;
	border-bottom: 1px solid #00bfa5;
}

div.button{
	text-align: right;
	padding:20px;
	padding-right:150px;

}

div.button span{
	background-color: #00e676;
	color: #ffffff;
	font-size: 40px;
	padding: 20px;
	border-radius: 80px;
	cursor: pointer;
}

.link{
	cursor: pointer;
}

.message{
	white-space:pre-wrap;
}
.messages{
	background-image: url(http://1.bp.blogspot.com/-P5uqUWLgZmA/UtQDdtahipI/AAAAAAAAF3E/IgvARwfxAlw/s1600/seamless-stone-background.jpg);
	overflow-y:auto;
	height:87%;
	width:100%
}
.post{
	padding:10px;
	 background-color:white;border-radius: 8px;margin:10px;
	max-width:70%
}
.post-menu{
	padding-right:20px;
	width:80px

}

.post-menu li.status{

}

.post-menu li.time{
	padding-right: 5px;
	width:40px

}
.post-menu li.dd-menu{
	display: none;
	cursor:pointer
}

.myself{
	background-color:white;
	text-align: right;
	float:right;
}
.from_me{
	background-color:greenyellow;
	text-align: left;
	float:left;
}
.system{
	background-color:#e1f5fe;
	margin-left: auto;
	margin-right: auto;
	float: none;
	width: 40%;
	text-align: center;

}
.img-circle {
	width: 40px;
	height: 40px;
}

.img-circle-upload {
	width: 150px;
	height: 150px;
	cursor: pointer;
}


div.input{
	padding:10px
}
div.input textarea{
	height:50px
}

#menu{
	padding-left: 10px;
	padding-top: 10px;
	background: #eee;
}
.menu-profile{
	padding-top: 10px;
}
.img-profile{
	float: left;
	width: 250px;
	margin-bottom: 10px;
}

.center-search{

	margin: auto;
	padding: 10px;
}
.persona{
	border-top: 1px solid #f2f2f2;
	padding: 10px;
	overflow: hidden;
}
.persona:hover{
	background: #E9EBEB;
	cursor: pointer;
}
.selected{
	background-color: lightblue;
}
.foto{
	width: 55px;
	float: left;
}
#header{
	height: 125px;
	background: #009688;
}
#whatsapp{

	background: #eeeeee;
	top: -100px;
	width: 1600px;
	margin: auto;
	position: relative;
	overflow: hidden;
}
.top-whats{
	background: white;
}

.detalle-contacto{
	padding-left: 15px;

	float: left;
	width: 230px;
}
.nombre-contacto{
	font-weight: 500;
	font-size: 17px;
}
.mensaje-contacto {
	color: #a4a4a4;
	white-space: nowrap;
	overflow: hidden;
}
.additional{
	font-size: 10px;
	float: left;
	width: 50px;
	text-align: center;margin:5px;padding:0px
}
#chat{
	height: 610px;
	width: 900px;
	float: left;
}
.hover{
	background: #E9EBEB;
	cursor: pointer;
}
.clicked{
	background: #E9EBEB;
}
#detalle-chat-online {
	height: 75px;
	background: #eee;
	border-left: 1px solid #DBDBDB;
	overflow: hidden;
	padding-left: 20px;
	padding-top: 10px;
}
#online-img{
	float: left;
}
#online-nombre{
	float: left;
	padding-left: 20px;
	padding-top: 5px;
	font-size: 17px;
	font-weight: 400;
}
#online-menu{
	float: right;
	padding-right: 20px;
}
#detalle-chat-online{
	display: none;
}
#mensajes{
	padding: 20px;
	display: none;
	overflow: scroll;
	height: 80%;
}
.msg{

	overflow: hidden;
}
.mio{
	background-color: #DCF8C6;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 10px;
	width: 45%;
	float: right;
}

.otro{
	background-color: #fff;
	float: left;
	width: 50%;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 10px;
}
.time{
	float: left;
	text-align: right;
	width: 100%;
}
#envia{
	background: #F5F1EE;
	bottom: 0;
	position: absolute;
	height: 65px;
	width: 100%;
	overflow: hidden;
	padding: 10px;
	display: none;
}
#emoticon{
	float: left;
	width: 60px;
	padding-left: 10px;
	padding-top: 5px;

}
#form-envia{
	float: left;
	width: 600px;
}
#enviar-boton {
	padding-top: 10px;
	padding-left: 10px;
	float: left;
}
