body, html{
	background-color: #D4DBDA;
	width: 100%;
	height: 97%;
	margin:0px;
	padding:0px;
	font-family:"Open Sans", sans-serif;

}
#background{
	width: 100%;
	height: 20%;
	position: absolute;
	background-color: rgb(0, 150, 136);
	top: 0;
	display: none;
}

#main {
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	background-color: #ffffff;border:1px solid darkgrey;
	width: 80%;
	height: 100%;
	min-height: 600px;
	position: relative;
}

#left{
	border-right: 1px solid darkgrey;padding:0;
	height: 100%;
	min-height: 600px;
	width:25%;
	float:left
}
.left-header{
	padding:8px 15px;background-color: #eee; min-height: 60px;
	 
}

.left-search{
	background: #fbfbfb;
}
.left-contacts{
	overflow: auto;
	height: inherit;
}



#center{
	min-height: 100%;
	width:55%;
	float:left;
	overflow: hidden;
}

.full-center{
	width:75%!important;
}
#right{
	border-left: 1px solid darkgrey;padding:0;
	height: 100%;
	min-height: 600px;
	width:20%;
	float:left
}

.right-group-info{
	height: 93%;

	text-align: center;padding: 20px;
	background-color: #f7f7f7
}

.right-contact-info{
	height: 93%;
	text-align: center;
	padding: 20px;
}
.chat-info{

	background-color: #eee;     padding: 8px 15px; min-height: 60px;
}
.chat-legend-btns{padding-right:20px;height:50px }
.info-contact{background-color: #eee;     padding: 8px 15px; min-height: 60px;}
.chat-legend{vertical-align: top;  float:left;    min-height: 52px;overflow: hidden;}
.info-legend{}
.info-legend a.link{display: inline;float:left}
.info-legend .info-text{vertical-align: top;float:left}
.info-legend .info-text p{font-size: 12px}


#add-image{
	position: absolute;
	top: 0;
	width: 75%;
	z-index: 33333;
	background-color: lightgray;
	height:100%
}

#add-image div.header{
	padding: 20px;
	background-color: #00bfa5;
	color: #ffffff;
	height: 60px;


}
#add-image div.header button{
	float:left;
	margin-right:25px
}
#add-image div.header span{
	font-weight: bold;
	font-size: 19px;
}


#add-image div.image-preview{
	text-align: center;
	padding:20px;
	height:70%;position: relative;
}

#add-image div.image-preview img{
	max-width:350px;
	max-height:350px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}
#add-image input.input-desc{

}

#add-image div.control{
	padding: 20px;
}

div.control .input{
	text-align: center;

}

div.control .input input{
	width: 50%;
	font-size: 16px;
	padding:5px;
	border:none;
	border-bottom: 1px solid grey;
	background-color:transparent;
}

div.input input:focus{
	outline: none;
	border-bottom: 1px solid #00bfa5;
}

div.button{
	background-color: #00e676;
	float: right;
	border-radius: 40px;
	padding:20px;
	margin:20px
}

div.button span{
	background-color: #00e676;
	color: #ffffff;
	font-size: 40px;
	padding: 20px;
	border-radius: 80px;
	cursor: pointer;
}

.link{
	cursor: pointer;
}

.message{
	white-space:pre-wrap;
}
.messages{
	background-image: url(http://1.bp.blogspot.com/-P5uqUWLgZmA/UtQDdtahipI/AAAAAAAAF3E/IgvARwfxAlw/s1600/seamless-stone-background.jpg);
	overflow-y:auto;
	height:92%;
	width:100%
}
.post{
	padding:10px;
	 background-color:white;border-radius: 8px;margin:10px;
	max-width:70%
}
.post-menu{
	padding-right:20px;
	width:80px

}

.post-menu li.status{

}

.post-menu li.time{
	padding-right: 5px;
	width:40px

}
.post-menu li.dd-menu{
	display: none;
	cursor:pointer
}

 

.system{
	background-color:#e1f5fe;
	margin-left: auto;
	margin-right: auto;
	float: none;
	width: 40%;
	text-align: center;

}
.img-circle {
	width: 40px;
	height: 40px;
}

.img-circle-upload {
	width: 150px;
	height: 150px;
	cursor: pointer;
}

.username-link{font-size: 18px;     font-weight: 500;
     
    font-family: Roboto, sans-serif;}
div.input{
	padding:10px;
	height:62px;

	background-color:#f5f1ee
}
div.input textarea{
	height:50px
}
div.input div.textarea:focus{
	border: none;
	outline: none;

}

div.input img.smiles{
	width: 2%;
	margin: 5px;
	float: left;
	position: relative;
	top: 9px;
	left: 9px;
	cursor:pointer
}

div.input div.textarea{
	min-height: 40px;
	max-height: 80px;
	overflow: auto;
	width:95%;
	border-radius: 8px;
	background-color:#ffffff;
	padding:10px;
	font-weight:400;
	font-size: 18px
}
#input div.reply{
	background-color: rgba(0,0,0,.05);
	border-left: 3px solid #35cd96;
	border-radius: 4px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 92%;
}
#input div.author{
	float:left;width:98%;color:#35cd96;padding:5px;
}
#input div.close{
	float:left;width:2%;
}
#input div.message{
	clear:both;white-space:nowrap;overflow: hidden;padding:5px;
}

#menu{
	padding-left: 10px;
	padding-top: 10px;
	background: #eee;
}
.menu-profile{
	padding-top: 10px;
}
.img-profile{
	float: left;
	width: 250px;
	margin-bottom: 10px;
}

.center-search{

	margin: auto;
	padding: 10px;
}
.persona{
	border-top: 1px solid #f2f2f2;
	padding: 10px 15px;
	overflow: hidden;
}
.persona:hover{
	background: #E9EBEB;
	cursor: pointer;
}
.selected{
	background-color: lightblue;
}
.foto{
	width: 55px;
	float: left;
}
#header{
	height: 125px;
	background: #009688;
}
#whatsapp{

	background: #eeeeee;
	top: -100px;
	width: 1600px;
	margin: auto;
	position: relative;
	overflow: hidden;
}
.top-whats{
	background: white;
}

.detalle-contacto{
	padding-left: 5px;

	float: left;
	width: 70%;
}
.nombre-contacto{
	font-weight: 500;
	font-size: 17px;
	font-family: Roboto, sans-serif;
}
.mensaje-contacto {
	color: #a4a4a4;
	white-space: nowrap;
	overflow: hidden;
	    font-size: 13px;
}
.additional{
	font-size: 10px;
	float: left;
	width: 8%;
	text-align: center;margin:5px;padding:0px
}
#chat{
	height: 610px;
	width: 900px;
	float: left;
}
.hover{
	background: #E9EBEB;
	cursor: pointer;
}
.clicked{
	background: #E9EBEB;
}
#detalle-chat-online {
	height: 75px;
	background: #eee;
	border-left: 1px solid #DBDBDB;
	overflow: hidden;
	padding-left: 20px;
	padding-top: 10px;
}
#online-img{
	float: left;
}
#online-nombre{
	float: left;
	padding-left: 20px;
	padding-top: 5px;
	font-size: 17px;
	font-weight: 400;
}
#online-menu{
	float: right;
	padding-right: 20px;
}
#detalle-chat-online{
	display: none;
}
#mensajes{
	padding: 20px;
	display: none;
	overflow: scroll;
	height: 80%;
}
.msg{

	overflow: hidden;
}
.mio{
	background-color: #DCF8C6;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 10px;
	width: 45%;
	float: right;
}

.otro{
	background-color: #fff;
	float: left;
	width: 50%;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 10px;
}
.time{
	float: left;
	text-align: right;
	width: 100%;
}

.time-show{padding-top:5px;text-align: right;}
.time-show li.time{font-size: 11px;}
#envia{
	background: #F5F1EE;
	bottom: 0;
	position: absolute;
	height: 65px;
	width: 100%;
	overflow: hidden;
	padding: 10px;
	display: none;
}
#emoticon{
	float: left;
	width: 60px;
	padding-left: 10px;
	padding-top: 5px;

}
#form-envia{
	float: left;
	width: 600px;
}
#enviar-boton {
	padding-top: 10px;
	padding-left: 10px;
	float: left;
}

.post {
     
}

 
.myself{padding: 6px 7px 8px 9px;     background-color: #dcf8c6;
    float: right; position: relative;     margin-right: 4%;}
.myself:after {
content: '';
    position: absolute;
    bottom: 8px;
    right: -12px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-top: 12px solid transparent;
    border-left: 12px solid #dcf8c6;
    border-bottom: 0px solid transparent;}
	
	
	
.from_me{
	background-color: #fff;
	text-align: left;
	float:left;
	position: relative;     margin-left: 4%;
}	

.from_me:before {
content: '';
    position: absolute;
    bottom: 8px;
    left: -12px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-top: 12px solid transparent;
    border-right: 12px solid #fff;
    border-bottom: 0px solid transparent;}

div.smiles:after { content: ""; display: block; clear: both;  }

.smile {
	width: 32px;
	height: 32px;
	float: left;
	margin:5px;
	background: url(/image/smiles.png) no-repeat;
	display:inline;
	cursor: pointer;

}

div.mensaje-contacto img, div.message img, div.textarea img{
	float:none;
	zoom:0.8;
	display:inline-block;
	vertical-align: middle;
	border: 0;
	outline: 0px solid transparent
}




div.textarea img :focus {
	outline: 0px solid transparent;

	border: 0;

}

.s01 {
	width: 32px;
	height: 32px;
	background-position: -5px -5px;
}

.s02 {
	width: 32px;
	height: 32px;
	background-position: -47px -5px;
}

.s03 {
	width: 32px;
	height: 32px;
	background-position: -89px -5px;
}

.s04 {
	width: 32px;
	height: 32px;
	background-position: -131px -5px;
}

.s05 {
	width: 32px;
	height: 32px;
	background-position: -173px -5px;
}

.s06 {
	width: 32px;
	height: 32px;
	background-position: -215px -5px;
}

.s07 {
	width: 32px;
	height: 32px;
	background-position: -257px -5px;
}

.s08 {
	width: 32px;
	height: 32px;
	background-position: -5px -47px;
}

.s09 {
	width: 32px;
	height: 32px;
	background-position: -47px -47px;
}

.s10 {
	width: 32px;
	height: 32px;
	background-position: -89px -47px;
}

.s11 {
	width: 32px;
	height: 32px;
	background-position: -131px -47px;
}

.s12 {
	width: 32px;
	height: 32px;
	background-position: -173px -47px;
}

.s13 {
	width: 32px;
	height: 32px;
	background-position: -215px -47px;
}

.s14 {
	width: 32px;
	height: 32px;
	background-position: -257px -47px;
}

.s15 {
	width: 32px;
	height: 32px;
	background-position: -5px -89px;
}

.s16 {
	width: 32px;
	height: 32px;
	background-position: -47px -89px;
}

.s17 {
	width: 32px;
	height: 32px;
	background-position: -89px -89px;
}

.s18 {
	width: 32px;
	height: 32px;
	background-position: -131px -89px;
}

.s19 {
	width: 32px;
	height: 32px;
	background-position: -173px -89px;
}

.s20 {
	width: 32px;
	height: 32px;
	background-position: -215px -89px;
}

.s21 {
	width: 32px;
	height: 32px;
	background-position: -257px -89px;
}

.s22 {
	width: 32px;
	height: 32px;
	background-position: -5px -131px;
}

.s23 {
	width: 32px;
	height: 32px;
	background-position: -47px -131px;
}

.s24 {
	width: 32px;
	height: 32px;
	background-position: -89px -131px;
}

.s25 {
	width: 32px;
	height: 32px;
	background-position: -131px -131px;
}

.s26 {
	width: 32px;
	height: 32px;
	background-position: -173px -131px;
}

.s27 {
	width: 32px;
	height: 32px;
	background-position: -215px -131px;
}

.s28 {
	width: 32px;
	height: 32px;
	background-position: -257px -131px;
}

.s29 {
	width: 32px;
	height: 32px;
	background-position: -5px -173px;
}

.s30 {
	width: 32px;
	height: 32px;
	background-position: -47px -173px;
}

.s31 {
	width: 32px;
	height: 32px;
	background-position: -89px -173px;
}

.s32 {
	width: 32px;
	height: 32px;
	background-position: -131px -173px;
}

.s33 {
	width: 32px;
	height: 32px;
	background-position: -173px -173px;
}

.s34 {
	width: 32px;
	height: 32px;
	background-position: -215px -173px;
}

.s35 {
	width: 32px;
	height: 32px;
	background-position: -257px -173px;
}

.s36 {
	width: 32px;
	height: 32px;
	background-position: -5px -215px;
}

.s37 {
	width: 32px;
	height: 32px;
	background-position: -47px -215px;
}

.s38 {
	width: 32px;
	height: 32px;
	background-position: -89px -215px;
}

.s39 {
	width: 32px;
	height: 32px;
	background-position: -131px -215px;
}

.s40 {
	width: 32px;
	height: 32px;
	background-position: -173px -215px;
}

.s41 {
	width: 32px;
	height: 32px;
	background-position: -215px -215px;
}

.s42 {
	width: 32px;
	height: 32px;
	background-position: -257px -215px;
}

.s43 {
	width: 32px;
	height: 32px;
	background-position: -5px -257px;
}

.s44 {
	width: 32px;
	height: 32px;
	background-position: -47px -257px;
}

.s45 {
	width: 32px;
	height: 32px;
	background-position: -89px -257px;
}

.s46 {
	width: 32px;
	height: 32px;
	background-position: -131px -257px;
}

.s47 {
	width: 32px;
	height: 32px;
	background-position: -173px -257px;
}

.s48 {
	width: 32px;
	height: 32px;
	background-position: -215px -257px;
}

.s49 {
	width: 32px;
	height: 32px;
	background-position: -257px -257px;
}

.s50 {
	width: 32px;
	height: 32px;
	background-position: -299px -5px;
}

.s51 {
	width: 32px;
	height: 32px;
	background-position: -299px -47px;
}

.s52 {
	width: 32px;
	height: 32px;
	background-position: -299px -89px;
}

.s53 {
	width: 32px;
	height: 32px;
	background-position: -299px -131px;
}

.s54 {
	width: 32px;
	height: 32px;
	background-position: -299px -173px;
}

.s55 {
	width: 32px;
	height: 32px;
	background-position: -299px -215px;
}

.s56 {
	width: 32px;
	height: 32px;
	background-position: -299px -257px;
}

.s57 {
	width: 32px;
	height: 32px;
	background-position: -5px -299px;
}

.s58 {
	width: 32px;
	height: 32px;
	background-position: -47px -299px;
}

.s59 {
	width: 32px;
	height: 32px;
	background-position: -89px -299px;
}


.icon{
	background-image: url(/image/icons.svg);
	width: 24px;
	height: 24px;
	border: 0;
	padding: 0;
	margin: 0;
	background-color:transparent ;
	outline: none;
	cursor: pointer;
	font-family: inherit;
}

.i01{
	background-position: -3458px -3511px;
}
.i02{
	background-position: -1551px -1557px;
}
.i03{
	background-position: -2117px -2123px;
}
.i04{
	background-position: -931px -937px;
}
.i05{
	background-position: -759px -749px;
}
.i06{
	background-position: -3867px -3952px;
}
.i07{
	background-position: -3979px -4064px;
}
.i08{
	background-position: -3306px -3359px
}
[contenteditable=true]:empty:before{
	content: attr(placeholder);
	display: block; /* For Firefox */
	color: darkgrey;
}
.show{
	display: block;
}
