<div>
    <form name="paymentForm">
        <div class="panel panel-default">

            <div class="panel-body">
                <h2>Проводка № {{model.payment_number}} от {{model.payment_date|date:'dd.MM.yyyy'}}
                        <span class="pull-right">
                            <span class="label label-success" ng-show="model.status=='complete'">Завершена</span>
                            <span class="label label-danger" ng-show="model.status!='complete'">Не завершена</span>
                        </span>
                </h2>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Поставщик</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    <tr ng-class="{ 'has-error': paymentForm.supplier_agent_id.$invalid }">
                                        <td style="width:15%">Контрагент:</td>
                                        <td><select class="form-control" name="supplier_agent_id"
                                                    ng-model="model.supplier_agent_id"
                                                    ng-change="model.supplier_company_id=undefined"
                                                    ng-options="agent.id as agent.name for agent in env.agents"
                                                    required>
                                            <option value="">Выберите контрагента</option>
                                        </select>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Компания:</td>
                                        <td>
                                            <select class="form-control"
                                                    ng-disabled="model.supplier_agent_id==undefined"
                                                    ng-model="model.supplier_company_id"
                                                    ng-options="company.id as company.name for company in env.supplierCompanies">
                                                <option value="">Выберите компанию</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Сумма вход:</td>
                                        <td>
                                            <div class="form-inline"
                                                 ng-class="{ 'has-error': paymentForm.supplier_amount.$invalid }">
                                                <input type="text"
                                                       name="supplier_amount"
                                                       ng-model="model.supplier_amount"
                                                       placeholder="30 000 000" class="form-control"
                                                       style="width: 200px" required money>
                                                <select
                                                        class="form-control"
                                                        ng-change="rematchExchange()"
                                                        ng-options="currency as currency for currency in env.config.currency"
                                                        ng-model="model.supplier_amount_currency">
                                                </select>
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="radio" ng-model="model.supplier_amount_type"
                                                           value="Наличные"> Наличные
                                                </label>
                                                <label>
                                                    <input type="radio" ng-model="model.supplier_amount_type"
                                                           value="Безналичные"> Безналичные
                                                </label>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Расчет</td>
                                        <td>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="radio" ng-model="model.supplier_calculation"
                                                           value="Плюсом"> Плюсом
                                                </label>
                                                <label>
                                                    <input type="radio" ng-model="model.supplier_calculation"
                                                           value="Минусом"> Минусом
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Комиссия</td>
                                        <td class="form-inline">
                                            <input type="text"
                                                   ng-model="model.supplier_commission_percent"
                                                   class="form-control" style="width: 70px" placeholder="0.00%" money/>
                                            <input type="text"
                                                   ng-model="model.supplier_commission_fix"
                                                   class="form-control" style="width: 200px"
                                                   placeholder="0.00E" money/>
                                            <select
                                                    style="margin-left:20px"
                                                    class="form-control"
                                                    ng-change="rematchSelectExchange('supplier',model.supplier_commission_currency)"
                                                    ng-options="currency as currency for currency in env.config.currency"
                                                    ng-model="model.supplier_commission_currency">

                                            </select>

                                            <input ng-show="model.supplier_amount_currency!=model.supplier_commission_currency"
                                                   ng-model="model.supplier_commission_exchange"
                                                   type="text" class="form-control" style="width: 100px" money/>
                                        </td>
                                    </tr>


                                    <!-- ng-show="supplierForm.$valid"-->
                                    <tr ng-show="model.supplier_result">
                                        <td>Результат:</td>
                                        <td>
                                            <b>{{model.supplier_result |
                                                currency:model.supplier_commission_currency}}</b>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Счёт фак-ра</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td style="width: 30%">
                                            <label> <input type="radio" ng-model="model.supplier_invoice"
                                                           value="Не требуется"/> Не требуется </label>
                                            <label> <input type="radio" ng-model="model.supplier_invoice"
                                                           value="Требуется"/> Требуется </label>
                                        </td>
                                        <td>
                                            <label ng-show="model.supplier_invoice=='Требуется'"> <input
                                                    ng-true-value="1" ng-false-value="0" type="checkbox"
                                                    ng-model="model.supplier_invoice_received"/>
                                                Получена </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Дата П/П:</td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" id="dropdown2" role="button"
                                                   data-toggle="dropdown">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" disabled
                                                               value="{{model.supplier_date_pp|date:'dd-MM-yyyy'}}">
                                                                <span class="input-group-addon"><i
                                                                        class="glyphicon glyphicon-calendar"></i></span>
                                                    </div>
                                                </a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                    <datetimepicker data-ng-model="model.supplier_date_pp"
                                                                    data-datetimepicker-config="{minView:'day', dropdownSelector: '#dropdown2' }"/>
                                                </ul>
                                            </div>

                                    </tr>
                                    <tr>
                                        <td>
                                            Номер П/П:
                                        </td>
                                        <td>
                                            <input type="text" class="form-control"
                                                   ng-model="model.supplier_number_pp"/>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Файлы</td>
                                        <td>
                                            <upload ng-model="model.supplier_files"></upload>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><textarea style="width: 100%;height:100px"
                                                                  ng-model="model.supplier_comment"
                                                                  placeholder="Комментарий"></textarea>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel panel-default" ng-show="model.supplier_amount">
            <div class="panel-heading">
                <h3 class="panel-title">Оператор </h3>
            </div>
            <div class="panel-body">

                <table class="table">
                    <tr>
                        <td style="width:15%">Где прибыль:</td>
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="radio" ng-model="model.operator_where_profits"
                                           value="Поставщик"> Поставщик
                                </label>
                                <label>
                                    <input type="radio" ng-model="model.operator_where_profits"
                                           value="Заказчик"> Заказчик
                                </label>

                                <label style="margin-left: 30px">
                                    <input type="checkbox" ng-true-value="1" ng-false-value="0"
                                           ng-model="model.operator_profits_received"> Получена
                                </label>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>Расчет:</td>
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="radio" ng-model="model.operator_calculation"
                                           value="Плюсом"> Плюсом
                                </label>
                                <label>
                                    <input type="radio" ng-model="model.operator_calculation"
                                           value="Минусом"> Минусом
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Комиссия</td>
                        <td class="form-inline">
                            <input type="text"
                                   ng-model="model.operator_commission_percent"
                                   class="form-control" style="width: 70px" placeholder="0.00%" money/>
                            <input type="text"
                                   ng-model="model.operator_commission_fix"
                                   class="form-control" style="width: 200px" placeholder="0.00E" money/>
                            <select
                                    style="margin-left:20px"
                                    class="form-control"
                                    ng-change="rematchSelectExchange('operator',model.operator_commission_currency)"
                                    ng-options="currency as currency for currency in env.config.currency"
                                    ng-model="model.operator_commission_currency">

                            </select>
                            <input ng-show="model.supplier_amount_currency!=model.operator_commission_currency"
                                   ng-model="model.operator_commission_exchange"
                                   type="text" class="form-control" style="width: 100px" money/>
                        </td>
                    </tr>


                    <tr ng-show="model.operator_result">
                        <td>Результат</td>
                        <td><b>{{model.operator_result | currency:model.operator_commission_currency}}</b>


                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="panel panel-default" ng-show="model.supplier_amount">
            <div class="panel-heading">
                <h3 class="panel-title">Агенты</h3>
            </div>
            <div class="panel-body">

                <table class="table">
                    <tr>
                        <td style="width: 10%">Где комиссия:</td>
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="radio" ng-model="model.agent_where_commission"
                                           value="Общая с оператором"> Общая с оператором
                                </label>
                                <label>
                                    <input type="radio" ng-model="model.agent_where_commission"
                                           value="От оператора"> От оператора
                                </label>
                            </div>
                        </td>
                    </tr>

                    <tr ng-repeat="agent in model.agents track by $index">
                        <td colspan="2">
                            <div class="row">
                                <div class="col-md-1" style="width: 20px">
                                    <strong>{{($index+1)}}.</strong>
                                </div>
                                <div class="col-md-2"
                                     ng-class="{ 'has-error': paymentForm['agent_id'+$index].$invalid }">
                                    <select class="form-control" ng-model="agent.agent_id" style="width: 160px"
                                            name="agent_id{{$index}}"
                                            ng-options="agent.id as agent.name for agent in env.agents"
                                            ng-required="!agent.agent_id">
                                        <option value="">Выберите агента</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <div class="checkbox">
                                        <label>
                                            <input type="radio" ng-model="agent.calculation"
                                                   value="Плюсом"> Плюсом
                                        </label>
                                        <label>
                                            <input type="radio" ng-model="agent.calculation"
                                                   value="Минусом"> Минусом
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-3 form-inline">
                                    <input type="text"
                                           ng-model="agent.commission_percent"
                                           class="form-control" style="width: 50px" placeholder="2%" money/>
                                    <input type="text"
                                           ng-model="agent.commission_fix"
                                           class="form-control" style="width: 130px" placeholder="30 000" money/>
                                    <select
                                            class="form-control"
                                            ng-change="rematchSelectExchange('agent',agent.commission_currency, agent)"
                                            ng-options="currency as currency for currency in env.config.currency"
                                            ng-model="agent.commission_currency">

                                    </select>
                                </div>

                                <div class="col-md-2"
                                     ng-show="(model.supplier_amount_currency!=agent.commission_currency && model.agent_where_commission != 'От оператора') || (model.operator_commission_currency!=agent.commission_currency && model.agent_where_commission == 'От оператора')">
                                    <input
                                            ng-model="agent.commission_exchange"
                                            type="text" class="form-control" style="width: 130px" money/>
                                </div>


                                <div class="col-md-1">
                                    <button type="button" class="btn btn-danger" ng-click="removeAgent($index)">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <h4>Результат:</h4>
                                </div>
                                <div class="col-md-3">

                                    <div style="margin: 10px;" class="checkbox">
                                        <b>{{agent.result | currency:agent.commission_currency}}</b>


                                        <label style="margin-left:50px">
                                            <input type="checkbox" ng-model="agent.paid">Выплачено
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>

                </table>


                <div class="text-left">
                    <button type="button" class="btn btn-primary" ng-click="addAgent()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        добавить агента
                    </button>

                </div>
            </div>
        </div>

        <div class="row" ng-show="model.supplier_amount">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Заказчик</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td style="width: 25%">Контрагент:</td>
                                <td><select class="form-control" ng-model="model.client_agent_id"
                                            ng-options="agent.id as agent.name for agent in env.agents">
                                    <option value="">Выберите контрагента</option>
                                </select>
                                </td>
                            </tr>

                            <tr>
                                <td>Компания:</td>
                                <td>
                                    <select class="form-control"
                                            ng-disabled="model.client_agent_id==undefined"
                                            ng-model="model.client_company_id"
                                            ng-options="company.id as company.name for company in env.agentCompanies">
                                        <option value="">Выберите компанию</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Расчет</td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="radio" ng-model="model.client_calculation"
                                                   value="Плюсом"> Плюсом
                                        </label>
                                        <label>
                                            <input type="radio" ng-model="model.client_calculation"
                                                   value="Минусом"> Минусом
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Комиссия</td>
                                <td class="form-inline">
                                    <input type="text"
                                           ng-model="model.client_commission_percent"
                                           class="form-control" style="width: 70px" placeholder="0.00%" money/>
                                    <input type="text"
                                           ng-model="model.client_commission_fix"
                                           class="form-control" style="width: 100px" placeholder="0.00E" money/>
                                    <select
                                            style="margin-left:20px"
                                            class="form-control"
                                            ng-options="currency as currency for currency in env.config.currency"
                                            ng-change="rematchSelectExchange('client',model.client_commission_currency)"

                                            ng-model="model.client_commission_currency">

                                    </select>

                                    <input
                                            ng-show="model.client_commission_currency!=model.supplier_amount_currency"
                                            ng-model="model.client_commission_exchange"
                                            type="text" class="form-control" style="width: 100px" money/>
                                </td>
                            </tr>


                            <!-- ng-show="supplierForm.$valid"-->
                            <tr ng-show="model.client_result">
                                <td>Результат:</td>
                                <td colspan="2">

                                    <b>{{model.client_result | currency:model.client_commission_currency}}</b>


                                </td>
                            </tr>
                            <tr>
                                <td>Сумма выход:</td>
                                <td>
                                    <div class="form-inline">
                                        <input type="text" disabled
                                               ng-model="model.output"
                                               placeholder="30 000 000" class="form-control"
                                               style="width: 200px" money>
                                        <select
                                                ng-change="rematchSelectExchange('client_exit',model.client_amount_currency)"
                                                class="form-control"
                                                ng-options="currency as currency for currency in env.config.currency"
                                                ng-model="model.client_amount_currency">
                                        </select>

                                        <input
                                                ng-show="model.client_amount_currency!=model.supplier_amount_currency"
                                                ng-model="model.client_amount_exchange"
                                                type="text" class="form-control" style="width: 100px" money/>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <input type="radio" ng-model="model.client_amount_type"
                                                   value="Наличные"> Наличные
                                        </label>
                                        <label>
                                            <input type="radio" ng-model="model.client_amount_type"
                                                   value="Безналичные"> Безналичные
                                        </label>
                                    </div>


                                </td>
                            </tr>

                            <tr>
                                <td>Итого:</td>
                                <td>
                                    <b>{{model.total | currency:model.client_amount_currency}}</b>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Счёт фак-ра</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td style="width: 30%">
                                    <label> <input type="radio" ng-model="model.client_invoice"
                                                   value="Не требуется"/> Не требуется </label>
                                    <label> <input type="radio" ng-model="model.client_invoice"
                                                   value="Требуется"/> Требуется </label>
                                </td>
                                <td>
                                    <label ng-show="model.client_invoice=='Требуется'"> <input
                                            ng-true-value="1" ng-false-value="0"
                                            type="checkbox" ng-model="model.client_invoice_received"/>
                                        Получена </label>
                                </td>
                            </tr>
                            <tr>
                                <td>Дата П/П:</td>
                                <td>
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" id="dropdown1" role="button"
                                           data-toggle="dropdown">
                                            <div class="input-group">
                                                <input type="text" class="form-control" disabled
                                                       value="{{model.client_date_pp|date:'dd-MM-yyyy'}}">
                                                        <span class="input-group-addon"><i
                                                                class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="model.client_date_pp"
                                                            data-datetimepicker-config="{minView:'day', dropdownSelector: '#dropdown1' }"/>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Номер П/П:
                                </td>
                                <td>
                                    <input type="text" class="form-control" ng-model="model.client_number_pp"/>

                                </td>
                            </tr>
                            <tr>
                                <td>Файлы</td>
                                <td>
                                    <upload ng-model="model.client_files"></upload>

                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><textarea style="width: 100%;height:100px"
                                                          ng-model="model.client_comment"
                                                          placeholder="Комментарий"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>


        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Статья</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <select
                            class="form-control"
                            ng-options="article.id as article.value for article in env.articles"
                            ng-model="model.article_id">
                        <option value="">Выберите статью проводки</option>
                    </select>
                </div>

                <div class="form-group text-right">
                    <a ui-sref="payments" class="btn btn-success">закрыть</a>
                    <button
                            ng-disabled="env.saving===true || paymentForm.$invalid"
                            ng-click="save(model,true)" type="button" class="btn btn-success">сохранить и закрыть
                    </button>
                    <button
                            ng-disabled="env.saving===true || paymentForm.$invalid"
                            ng-click="save(model,false)" type="button" class="btn btn-success">сохранить
                    </button>
                </div>
            </div>
        </div>
    </form>

    <div class="panel panel-default" ng-show="env.id">
        <div class="panel-heading">
            <h3 class="panel-title">Лог проводки</h3>
        </div>
        <div class="panel-body">
            <log-table payment="{{env.id}}"></log-table>
        </div>
    </div>

</div>
