<div class="col-md-12" style="padding: 29px;    padding-bottom: 8px;    padding-top: 50px;
 background-color: #00bfa5;">

    <h4 style="color:#FFFFFF"><a ng-click="openContacts()" style="    padding-right: 50px;color:#FFFFFF;cursor:pointer"><span class="glyphicon glyphicon-chevron-left" style="color:#FFFFFF"></span></a>
        Профиль</h4>


</div>

<div class="col-md-12" style="
    padding: 30px;
">
    <form>
        <div class="form-group">

            <upload ng-model="model.avatar">
                <img src="/image/default.jpg" class="img-circle-upload" style="margin-left:auto;margin-right:auto" >
            </upload>

        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Имя" ng-model="model.name">
        </div>

        <button ng-disabled="model.name=='' || !model.name" type="button" class="btn btn-default" ng-click="saveProfile(model)">Сохранить</button>
    </form>
</div>

