<html>
<head>
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap-theme.min.css">


    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <link rel="stylesheet" href="components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css">

    <style>
        body, html{
            background-color: #D4DBDA;
            width: 100%;
            height: 97%;
            margin:0px;
            padding:0px
        }


        #main{
            height:200px;
            background-color: #0a9ec7;
            width:50%;
            margin:0 auto;
            position: relative;
            overflow: auto;
        }
    </style>




</head>

<body ng-app="test" ng-controller="testController">
    <button ng-click="addItem()">Add</button>
    <div  id="main">
        <ul>
            <li ng-repeat="l in list track by $index">
                <a id="id_{{l}}"></a>
                {{l}}</li>
        </ul>
    </div>


    <script src="components/angular/angular.js"></script>

    <script>
        var app = angular.module('test',[]).controller('testController', function($scope){
            $scope.list = ["one","two"];
            $scope.$i = 0;
            $scope.addItem = function(){
                $scope.list.unshift($scope.$i);
                $scope.$i+=1;
                //$('#main').perfectScrollbar('update');
                console.log(  $('#id_one') )
                console.log( document.getElementById('id_one').offsetTop)
                console.log( $('#id_one').offset().top )
                //console.log( $('#id_one').offsetTop)
                $('#main').scrollTop( document.getElementById('id_one').offsetTop )
            }
        })

        $(function(){
            //$('#main').mCustomScrollbar();
            //$('#main').perfectScrollbar();
        })
    </script>

</body>
</html>