
<div class="left-search">
    <div class="center-search">
        <input type="text" class="form-control" ng-model="env.chat"  placeholder="Поиск или новый чат">
    </div>
</div>


<div class="left-contacts">

    <div class="persona" ng-show="env.search_activated && env.chats.length>0"><h3>Чаты</h3></div>

    <div class="persona" ng-repeat="ch in env.chats" ng-click="openChat(ch)" ng-class="{'selected':chat.id==ch.id}">
        <div class="foto"><img ng-src="{{ch.getChatAvatar(user.id)}}" class="img-circle" width="50"></div>
        <div class="detalle-contacto">
            <div class="nombre-contacto">{{ch.getChatName(user.id)}}</div>
            <div class="mensaje-contacto" ng-show="!ch.LastPost.message && ch.LastPost.type=='image'"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Фото </div>
            <div class="mensaje-contacto" ng-show="ch.LastPost.message">{{ch.LastPost.message}} </div>

        </div>

        <div class="hora-chat" style="float: left;
    width: 50px;
    text-align: center;margin:5px;padding:0px">
            {{ch.LastPost.Time}} <br>
            <span class="badge" ng-show="ch.CountUnreadMessages>0">{{ch.CountUnreadMessages}}</span>
        </div>
    </div>

    <div class="persona" ng-show="env.search_activated && env.contacts.length>0 "><h3>Контакты</h3></div>

    <div class="persona" ng-repeat="contact in env.contacts" ng-show="env.search_activated" ng-click="createChat(contact)">

        <div class="foto"><img ng-src="{{contact.AvatarSrc}}"
                               class="img-circle" width="50"></div>
        <div class="detalle-contacto">
            <div class="nombre-contacto">{{contact.name}}</div>
        </div>
    </div>

    <div class="persona" ng-show="env.search_activated && env.contacts.length==0 && env.chats.length==0">Ничего не
        найдено
    </div>
</div>