<top-menu></top-menu>

<div style="margin: 30px">


    <div class="panel panel-default">
        <div class="panel-heading">
            Настройки
        </div>
        <div class="panel-body">
            <div>
                <form name="userForm">



                    <div class="form-group">
                        <div ckeditor="options" ng-model="config.intro" ></div>


                       <!-- <input type="text" ng-model="env.model.avatar" class="form-control">-->
                    </div>


                    <button type="button" ng-click="save( config )" class="btn btn-default">Сохранить
                    </button>

                </form>
            </div>
        </div>

    </div>
</div>


