<div>
    <div class="panel panel-default">
        <div class="panel-heading">Легенда</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <h2>Легенда:</h2>
                    <h5><b>КП</b> — количество проводок</h5>
                    <h5><b>ДГПО</b> — долг контрагента перед оператором</h5>
                    <h5><b>ДОПК</b> — долг оператора перед контрагентом</h5>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default">


        <div class="panel-body">
            <a ui-sref="company-create" type="button" class="btn btn-primary"><span
                    class="glyphicon glyphicon-plus"></span> Добавить компанию</a>


            <table st-table="env.companies" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Компания</th>
                    <th>Контрагент</th>
                    <th>КП</th>
                    <th>ДГПО</th>
                    <th>ДОПК</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="company in env.companies" ui-sref="company-profile({id: company.id})"
                    style="cursor: pointer">
                    <td>{{company.name}}</td>
                    <td>{{company.agent.name}}</td>
                    <td>{{company.number_of_payments}}</td>
                    <td>
                        <div ng-repeat="(cur, debt) in company.debt">
                            {{debt.operator|currency:cur}}
                        </div>
                    </td>
                    <td>
                        <div ng-repeat="(cur, debt) in company.debt">
                            {{debt.agent|currency:cur}}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


















