<div style="padding:0px;height: 100% ">
    <div class="center-search">
        <input type="text" class="form-control" ng-model="env.search_key" placeholder="Поиск чатов">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-if="env.search_key" ng-click="env.search_key=undefined"></span>

    </div>
    <div class="left-contacts ">
        <div class="persona" ng-repeat="ch in user.chats|orderBy:'-updated_at'|filter:{current_name:env.search_key}" ng-click="openChat(ch, null)"
             ng-class="{'selected':chat.id==ch.id}">

            <div class="status" ng-class="{'offline':env.who_is_online.indexOf( ch.getUser(user.id).id )==-1 && ch.is_group==0, 'online':env.who_is_online.indexOf(ch.getUser(user.id).id)!=-1 && ch.is_group==0 }"></div>
            <div class="item">
                <div class="name-person" >
                    <strong>
                        {{ch.current_name}}
                    </strong>
                </div>

                <div class="time-send">
                    <time>{{ch.LastPost.Time}}</time>
                </div>

                <div class="additional" >
                    <span class="badge" ng-show="ch.CountUnreadMessages>0">{{ch.CountUnreadMessages}}</span>
                </div>
            </div>
        </div>
        <div ng-if="env.search_result.length>0" >
            <h4>Сообщения</h4>

            <div class="persona search"
                 ng-repeat="post in env.search_result|orderBy:'-updated_at'"
                 ng-click="openChat( getChat(post.chat_id), post.id)">

                <div class="item">
                    <div style="float: none;width:100%;clear: both;    height: 20px;" >
                        <div style="width: 80%;float:left;font-weight: bold">
                            {{ getChat(post.chat_id).getChatName(user.id)}}
                        </div>
                        <div style="float: left;font-size:12px">{{post.Time}}</div>
                    </div>
                    <div style="width: 100%" ng-bind-html="post.message|to_trusted"> </div>
                </div>
            </div>
        </div>
    </div>
</div>


