<div style="padding:0px;height:89%">
    <div class="center-search">
        <input type="text" class="form-control" ng-model="env.search_key" placeholder="Поиск чатов">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-if="env.search_key" ng-click="env.search_key=undefined"></span>

    </div>
    <div class="left-contacts">
        <div class="persona" ng-repeat="ch in user.chats|orderBy:'-updated_at'|filter:{current_name:env.search_key}" ng-click="openChat(ch, null)"
             ng-class="{'selected':chat.id==ch.id}">

            <div class="status" ng-class="{'offline':env.who_is_online.indexOf( ch.getUser(user.id).id )==-1 && ch.is_group==0, 'online':env.who_is_online.indexOf(ch.getUser(user.id).id)!=-1 && ch.is_group==0 }"></div>
            <div class="item">
                <div class="name-person" >
                    <strong>
                        {{ch.current_name}}
                    </strong>
                </div>

                <div class="time-send">
                    <time>{{ch.LastPost.Time}}</time>
                </div>

                <div class="additional" >
                    <span class="badge" ng-show="ch.CountUnreadMessages>0">{{ch.CountUnreadMessages}}</span>
                </div>
            </div>
        </div>
    </div>
</div>


