<div style="padding:0px;">
    <div class="center-search">
        <input type="text" class="form-control" ng-model="env.search_key" placeholder="Поиск контактов">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-if="env.search_key" ng-click="env.search_key=undefined"></span>
    </div>
    <div class="left-contacts">

        <div class="persona" ng-repeat="contact in user.contacts|orderBy:'-name':true|user:env.search_key"
             ng-click="createChat(contact)">

            <div class="status"
                 ng-class="{'offline':env.who_is_online.indexOf(contact.id)==-1, 'online':env.who_is_online.indexOf(contact.id)!==-1 }"></div>

            <div class="item " style="top:30%">
                <div class="detalle-contacto">
                    <div class="nombre-contacto">{{contact.login}}</div>
                </div>
            </div>
        </div>
       
    </div>

</div>
