<div ng-show="step=='one'">
    <div class="col-md-12"
         style="padding: 29px;    padding-bottom: 8px;    padding-top: 50px;background-color: #00bfa5;">

        <h4 style="color:#FFFFFF"><a ng-click="openContacts()"
                                     style="    padding-right: 50px;color:#FFFFFF;cursor:pointer"> <span
                class="glyphicon glyphicon-chevron-left" style="color:#FFFFFF"></span></a>
            Новая группа</h4>


    </div>

    <div class="col-md-12" style="
    padding: 30px;
">


        <div class="form-group">

            <upload ng-model="model.avatar">
                <img src="/image/default.jpg" class="img-circle-upload">
            </upload>

        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Тема группы" ng-model="model.name">
        </div>

        <button type="button" class="btn btn-default" ng-click="step='two'">Далее</button>
    </div>
</div>

<div ng-show="step=='two'">
    <div class="col-md-12"
         style="padding: 29px;    padding-bottom: 8px;    padding-top: 50px;background-color: #00bfa5;">

        <h4 style="color:#FFFFFF"><a ng-click="step='one'"
                                     style="    padding-right: 50px;color:#FFFFFF;cursor:pointer"><span
                class="glyphicon glyphicon-chevron-left" style="color:#FFFFFF"></span></a>
            Добавить учатников группы</h4>

    </div>

    <div class="col-md-12" style="padding: 30px;">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="contact in model.contacts track by $index">
                <a ng-click="removeContact(contact, $index)" style="float: right"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                {{contact.name}}
            </li>
        </ul>


        <br>
        <div class="media" ng-repeat="contact in env.contacts track by $index">
            <a ng-click="selectContact(contact,$index)" class="link">
                <div class="media-left">

                    <img class="media-object img-circle" style="width: 40px" ng-src="{{contact.AvatarSrc}}" alt="...">

                </div>
                <div class="media-body">
                    <h4 class="media-heading ">{{contact.name}}</h4>
                </div>
            </a>
        </div>


        <button type="button" class="btn btn-default" ng-click="saveGroup(model)">Создать</button>

    </div>

</div>

