<div ng-show="step=='one'">
    <div class=""
         style="height:11%;padding: 29px;    padding-bottom: 8px;    padding-top: 50px;background-color: #00bfa5;">

        <h4 style="color:#FFFFFF"><a ng-click="openContacts()"
                                     style="    padding-right: 50px;color:#FFFFFF;cursor:pointer"> <span
                class="glyphicon glyphicon-chevron-left" style="color:#FFFFFF"></span></a>
            Новая группа</h4>


    </div>

    <div  style="height:89%;padding: 30px;">


        <div class="form-group">

            <upload ng-model="model.avatar">
                <img style="margin-left:auto;margin-right:auto" src="/image/default.jpg" class="img-circle-upload">
            </upload>

        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Тема группы" ng-model="model.name">
        </div>

        <button ng-disabled="!model.name || model.name==''" type="button" class="btn btn-default" ng-click="step='two'">
            Далее
        </button>
    </div>
</div>

<div ng-show="step=='two'">
    <div
         style="height:11%;padding: 29px;    padding-bottom: 8px;    padding-top: 50px;background-color: #00bfa5;">

        <h4 style="color:#FFFFFF"><a ng-click="step='one'"
                                     style="    padding-right: 50px;color:#FFFFFF;cursor:pointer"><span
                class="glyphicon glyphicon-chevron-left" style="color:#FFFFFF"></span></a>
            Добавить участников группы</h4>

    </div>

    <div  style="height:89%;padding: 30px;">

        <div class="form-group" style="overflow: auto;height: 40%;" ng-show="model.contacts.length>0">
            <div class="panel panel-default" style="border: 1px solid #f7f7f7">
                <div class="panel-body">
                    <div class="list-group">
                        <a ng-click="removeContact(contact,$index)" class="link list-group-item"
                           ng-repeat="contact in model.contacts track by $index">
                            <img ng-src="{{contact.AvatarSrc}}" class="img-circle" width="50">

                            {{contact.name}}

                            <span style="top: 40%;right: 10%;position: absolute;" class="glyphicon glyphicon-remove"
                                  aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" style="overflow: auto;height: 40%;">
            <div class="panel panel-default" style="border: 1px solid #f7f7f7">
                <div class="panel-body" style="text-align: left; border-bottom: 1px solid #f7f7f7;color:#7c8b92">
                    Выберите Контакты
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a ng-click="selectContact(contact,$index)" class="link list-group-item"
                           ng-repeat="contact in env.contacts track by $index">
                            <img ng-src="{{contact.AvatarSrc}}" class="img-circle" width="50">

                            {{contact.name}}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <button ng-disabled="model.contacts.length==0" type="button" class="btn btn-default"
                ng-click="saveGroup(model)">Создать
        </button>

    </div>

</div>

